<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes | Hamilton</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/babbage">Babbage</a>
        <a href="/berners-lee">Berners-lee</a>
        <a href="/clarke">Clarke</a>
        <a href="/hamilton">Hamilton</a>
        <a href="/hopper">Hopper</a>
        <a href="/lovelace">Lovelace</a>
        <a href="/turing">Turing</a>
    <h1>Hamilton</h1>
    <img src="/img/hamilton.jpg" alt="Hamilton">
</body>
</html>