<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Heroes</title>
</head>
<body>
    <h1>Heroes</h1>

    <div>
        <a href="/"><img src="/img/formar.png" alt=""></a>
    </div>
    <p>
        <a href="/babbage"><img height="300" title="babbage" src="/img/babbage.jpg" alt="Babbage"></a>
        <a href="/berners-lee"><img height="300" title="Berners-lee" src="/img/berners-lee.jpg" alt="Berners-lee"></a>
        <a href="/clarke"><img height="300" title="clarke" src="/img/clarke.jpg" alt="Clarke"></a>
        <a href="/hamilton"><img height="300" title="Hamilton" src="/img/hamilton.jpg" alt="Hamilton"></a>
        <a href="/hopper"><img height="300" title="Hopper" src="/img/hopper.jpg" alt="Hopper"></a>
        <a href="/lovelace"><img height="300" title="Lovelace" src="/img/lovelace.jpg" alt="Lovelace"></a>
        <a href="/turing"><img height="300" title="Turing" src="/img/turing.webp" alt="Turing"></a>

    </p>
  
    
    <img style="display:none" src="/img/berners-lee.jpg" alt="berners-lee"> 
</body>
</html>
